body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 50px;
    position: relative;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
.Nav-Links a{
    color: aliceblue;
    font-family: helvetica;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}


.nav-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 100;
    background-color: rgb(20, 20, 20);
   
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 100px;
}
.Nav-Links a{
    padding-left: 5px;;
}

.Nav-Links a:hover{
    padding-left: 5px;;
    color: gray;
}

main{
    position: relative;
}

.hero{
    height: 700px;
    width: 1200px;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}
.hero-positioning{
    display: flex;
    justify-content: center;
}

.cupoftea{
    width: 100%;
    height: auto;
}

.container-position-textbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}
.textbox-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(20, 20, 20);
}

h2.ourMission{
    margin-bottom: 0;
    font-size: 28px;
}
h4{
    font-weight: 500;
}

.teaoftheMonth-section{
    margin-top: 150px;
}

.teaoftheMonth-section h3{
    font-weight: 400;
}

.Photo-List{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teaPicture{
    width: 100%;
    height: auto;
}

.teaPicture-container{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}